name: JP

on:
  push:
  schedule:
    - cron: '5 */1 * * *' # 错开5分钟执行，避免拥堵
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt || true

      - name: Run script
        run: python py/JP.py

      - name: Commit result
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add JP.txt
          git commit -m "Auto update JP.txt [skip ci]" || echo "No changes to commit"
          git push
